@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.services {
    padding: 5rem 2rem 2rem 2rem;
    position: relative;
    z-index: 9;
    min-height: 100vh;
    overflow: hidden;
    @include breakpoint(sm) {
        padding: 0 1rem;
    }

    .service-content {
        @include breakpoint(xl) {
            display: inline !important;
        }

        h4 {
            font-size: 3.9319rem;
            color: var(--text-color);
            font-weight: normal;
            text-align: center;
            margin-bottom: 3rem;
            @media screen and (max-width: 1440px) {
                font-size: 3.8rem;
            }
            @include breakpoint(xl) {
                font-size: 2.8rem;
                margin-bottom: 2rem;
            }
            @include breakpoint(lg) {
                font-size: 2rem;
                margin-top: 2rem;
            }
            @include breakpoint(sm) {
                font-size: 1.4rem;
            }
        }
        p {
            font-size: 1.0831rem;
            color: var(--text-color);
            font-weight: normal;
            text-align: left;
            max-width: 36rem;
            @include breakpoint(xl) {
                font-size: 1rem;
            }
            @include breakpoint(sm) {
                font-size: 0.9rem;
            }
        }
        .list {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: center;
            margin: 2rem 0 3.5rem 0rem;
            @include breakpoint(sm) {
                margin-left: 2rem;
                margin-top: 1rem;
            }
            ul {
                text-align: left;
                li {
                    list-style-type: disc !important;
                    color: var(--text-color);
                    font-weight: 600;
                    font-size: 1rem;
                    @include breakpoint(sm) {
                        font-size: 0.9rem;
                    }
                }
            }
        }
        .serviceList {
            max-width: 75rem;
            .serviceItem {
                text-align: center;
                position: relative;
                padding: 4rem 0rem;

                &:nth-child(2n + 0) .row {
                    flex-direction: row-reverse;

                    .swiper-area {
                        &::before {
                            display: none;
                        }
                        &::after {
                            content: "";
                            background: url(../../../public/image/shape2.png) no-repeat top;
                            height: 100%;
                            width: 70%;
                            position: absolute;
                            top: -2.5rem;
                            right: calc(100% - 100rem);
                            background-size: contain;
                            background-position: right top;
                            z-index: -1;
                            @include breakpoint(xl) {
                                display: none;
                            }
                        }
                    }
                }

                .swiper-area {
                    margin-top: 4rem;
                    padding: 0rem 6rem;
                    position: relative;
                    @include breakpoint(sm){
                        padding: 0rem 2.5rem;
                    }
                    &::before {
                        content: "";
                        background: url(../../../public/image/shape.png) no-repeat top;
                        height: 100%;
                        width: 70%;
                        position: absolute;
                        top: -5rem;
                        left: calc(100% - 100rem);
                        background-size: contain;
                        background-position: left top;
                        z-index: -1;
                        @include breakpoint(xl) {
                            display: none;
                        }
                    }
                    @include breakpoint(xl) {
                        margin-top: 0;
                    }

                    .swiper {
                        position: inherit;
                        .swiper-slide {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
