@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

header {
    padding: 4rem 0rem !important;
    @include breakpoint(lg) {
        padding: 2rem 0rem !important;
    }
    img {
        max-width: 18rem !important;
        @include breakpoint(xl) {
            max-width: 15rem !important;
        }
        @include breakpoint(lg) {
            max-width: 11rem !important;
        }
        @include breakpoint(sm) {
            max-width: 9rem !important;
        }
    }
}
