@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";
.banner {
    position: relative;
    width: 100%;
    padding: 0rem 2rem;
    @include breakpoint(lg) {
        padding: 1rem 1rem;
    }
    .content {
        position: relative;
        z-index: 99;

        h1 {
            font-size: 3.9rem;
            margin-bottom: 3rem;
            text-align: center;
            color: var(--text-color);
            font-weight: normal;
            span {
                font-size: 2rem;
                @include breakpoint(lg) {
                    font-size: 1.4rem;
                }
                @include breakpoint(sm) {
                    font-size: 1rem;
                }
            }
            @media screen and (max-width: 1440px) {
                font-size: 3.8rem;
            }
            @include breakpoint(xl) {
                font-size: 2.8rem;
            }
            @include breakpoint(lg) {
                margin-bottom: 2rem;
                font-size: 2rem;
            }
            @include breakpoint(sm) {
                font-size: 1.6rem;
            }
        }
        .text {
            p {
                font-size: 1.3331rem;
                display: block;
                margin-bottom: 3rem;
                max-width: 70rem;
                color: var(--text-color);
                font-weight: normal;
                @include breakpoint(xl) {
                    font-size: 1rem;
                    max-width: 50rem !important;
                }
                @include breakpoint(sm) {
                    font-size: 0.9rem;
                    margin-bottom: 2rem;
                }
            }
        }
        .img-content {
            .img-wrapper {
                max-width: 75rem;
                position: relative;
                z-index: 99;
                &::before {
                    content: "";
                    background: url(../../../public/image/layer.png) no-repeat top;
                    height: 51%;
                    width: 97%;
                    position: absolute;
                    top: -7rem;
                    right: -2.5rem;
                    background-size: contain;
                    background-position: right top;
                    z-index: -1;
                    @include breakpoint(xl) {
                        top: -5rem;
                        right: -2rem;
                    }
                    @include breakpoint(lg) {
                        display: none;
                    }
                }
                &::after {
                    content: "";
                    background: url(../../../public/image/layer2.png) no-repeat;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    bottom: -12.5rem;
                    left: -4rem;
                    background-size: contain;
                    background-position: left bottom;
                    z-index: -1;
                    @include breakpoint(xl) {
                        left: -3rem;
                        bottom: -9rem;
                    }
                    @include breakpoint(lg) {
                        display: none;
                    }
                }
            }
        }
    }
}
